
@main("Home"){

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/aot.css")">

    <!-- Page Content -->
    <div class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron hero-spacer">
            <img src="images/ask.png" alt="Sign" style="float:right; padding-right:60px;height:150px"/>
            <h1>Need further assistance?</h1>
            <h3>Please feel free to Ask Our Team!</h3>
            
            
        </header>

        <div class="container">

    <h2>Ask Our Team: </h2>
    <div class="container">
  
  <form>
  
    <div class="form-group">
      <label for="Name">Your Name :</label>
      <input type="Name" class="form-control" id="Contact_Name" placeholder="Please Enter Your Full Name">
    </div>
    <div class="form-group">
      <label for="Email">Email Address :</label>
      <input type="Email" class="form-control" id="Email_Address" placeholder="Please Enter Your Email">
    </div>
    <div class="form-group">
      <label for="PhoneNum">Phone :</label>
      <input type="PhoneNum" class="form-control" id="Phone_Num" placeholder="Please Enter Your Contact Number">
    </div>
    <div class="form-group">
      <label for="comment">Enquiry/Message :</label>
      <textarea class="form-control" rows="5" id="comment"placeholder="Please Enter Your Enquiry/Message Here"></textarea>
    </div>
      <button type="submit" class="btn btn-default">Send Your Message</button>
  </form>
</div>

<hr>

 <h2>Our Social Media:</h2>
    <p>Facebook</p>
    <a href="https://www.facebook.com"><img src="images/sfb.png" alt="Facebook"></span></a>
    <p>Twitter</p>
    <a href="https://twitter.com/?lang=en"><img src="images/stw.png" alt="Twitter"></span></a>
    <p>Instagram</p>
    <a href="https://www.instagram.com/?hl=en"><img src="images/sin.png" alt="Instagram"></span></a>       
        <hr>
 
}