
@main("Home"){


<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/Contact.css")">
	
	<div class="container">
 
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Contact Us</h4>
        </div>
        <div class="modal-body">
          <p>Our online Representative will contact you within 2 hours </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
      
    </div>
  </div>



<div class="jumbotron text-center">
  
  <p>Subscribe for new Cars</p>
  <form class="form-inline">
    <input type="email" class="form-control" size="50" placeholder="Email Address" required>
    <button type="button" class="btn btn-danger">Subscribe</button>
  </form>
</div>

	
<div class = "row">
<div class="col-lg-12">

  <h2>Sign into MyAuto</h2>
  
  <form>
  
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" id="email" placeholder="Enter email">
    </div>
    <div class="form-group">
      <label for="pwd">Password:</label>
      <input type="password" class="form-control" id="pwd" placeholder="Enter password">
    </div>
    <div class="checkbox">
      <label><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
</div>

<br>	
	

    
	
	
	<div class="containerblack">
  <h1>Who are we ?</h1>
  <blockquote>
    <p>For 10 years, Auto-Sales has been selling wide range of cars to our customers and how busy you are we will find a way to let you drive the car you liked at your convenient place </p>
    <footer>From "Herald" Aug 24(2016)</footer>
  </blockquote>
</div>
	 <br>
      <br>


   
  


}