
@main("Home"){

<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/service.css")">

  <div class="container">
	


        <!-- Page Header -->
		
<div class="jumbotron">
    <div class="container">
    </div>
</div>

<div class="container">
  <h2>Service Details</h2>

  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Service Includes</th>
        <th>Full Service</th>
        <th>Intrim Service</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Fit protective covers</td>
        <td>&#11044;</td>
        <td>&#11044;</td>
      </tr>
      <tr>
        <td>Check correct operation of lights & horn</td>
        <td>&#11044;</td>
        <td>&#11044;</td>
      </tr>
      <tr>
        <td>Check clutch operation</td>
        <td>&#11044;</td>
        <td>&#11044;</td>
      </tr>
      <tr>
        <td>Check clutch operation</td>
        <td>&#11044;</td>
        <td>&#11044;</td>
      </tr>
      <tr>
        <td>Remove wheels & check brake pads front & rear</td>
        <td>&#11044;</td>
        <td>&#11044;</td>
      </tr>
      <tr>
        <td>Adjust tyre pressures as required including spare</td>
        <td>&#11044;</td>
        <td></td>
      </tr>
      <tr>
        <td>Replace air filter	</td>
        <td>&#11044;</td>
        <td></td>
      </tr>
      <tr>
        <td>Check windscreen	</td>
        <td>&#11044;</td>
        <td></td>
      </tr>
      <tr>
        <td>Check gear oil	</td>
        <td>&#11044;</td>
        <td></td>
      </tr>
      <tr>
        <td>Mini Valet	</td>
        <td>&#11044;</td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="row">
    <div class="col-md-4 portfolio-item"> 
        <h1> Full Service Price</h1>
         <p class="speech">ONLY &#8364;100</p>
       

    </div>
      <div class="col-md-4 portfolio-item"> 
        <h1> Intrim Service Price</h1>
       <p class="speech">ONLY &#8364;59</p>

    </div>
      <div class="col-md-4 portfolio-item"> 
        <h1> Repair Service Price</h1>
        <p class="speech">Prices From &#8364;120</p>

    </div>

    </div>

    <br>
    <br>

    <div class="row">
    <div class="col-md-12 button-item"> 
<a href="@routes.HomeController.Enquiry()" class="btn btn-primary btn-lg btn-block">Make an Enquiry</a>

    </div>



    </div>

    <br>
    <br>


}
























